In [ ]:
1. Write Python code that prints your name, student number and email address.

In [4]:
print("Arun James")
print(190001)
print("arunjames@gmail.com")

Arun James
190001
arunjames@gmail.com

In [ ]:
2. Write Python code that prints your name, student number, and email address using escape sequences

In [6]:
print("Arun James \n 190001 \n arunjames@gmail.com")

Arun James
 190001
 arunjames@gmail.com

In [ ]:
3.Write Python code that adds, subtracts, multiplies, and divides the two numbers 14 and 7.

In [8]:
14 + 7

21

In [11]:
14 * 7

98

In [12]:

14 - 7

7

In [13]:

14 / 7

2.0

In [ ]:
4.  Write Python code that displays the numbers from 1 to 5 as steps

In [19]:
for i in range (1,6):
    print (i)

1
2
3
4
5

In [ ]:
5.Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen:

In [23]:
print('SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment')

SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment

In [ ]:
#6. Practice and check the output print("python is an \"awesome\" language.") print("python\n\t2023") print('I\'m from Entri.\b') print("\65") print("\x65") print("Entri", "2023", sep="\n") print("Entri", "2023", sep="\b") print("Entri", "2023", sep="*", end="\b\b\b\b")

In [24]:
print("python is an \"awesome\" language.")

python is an "awesome" language.

In [25]:
print("python\n\t2023")

python
	2023

In [26]:
print('I\'m from Entri.\b')

I'm from Entri

In [32]:
print("\65")

5

In [33]:
print("\x65")

e

In [29]:
print("Entri", "2023", sep="\n")

Entri
2023

In [30]:
print("Entri", "2023", sep="\b")

Entr2023

In [31]:
 print("Entri", "2023", sep="*", end="\b\b\b\b")

Entri*

In [ ]:
#7. Define the variables below. Print the types of each variable. What is the sum of your variables? (Hint: use a type conversion function.) What datatype is the sum? num=23 textnum="57" decimal=98.3 Exercise

In [35]:
num = 23

textnum = "57"

decimal = 98.3

print(type(num), type(textnum), type(decimal))

<class 'int'> <class 'str'> <class 'float'>

In [36]:
#8.calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values (hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [38]:
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60

total_min = days_in_year * hours_in_day * minutes_in_hour

In [39]:
print (total_min)

525600

In [45]:
print(f"{days_in_year} days * {hours_in_day} hours  * {minutes_in_hour} min = {total_min} min")

365 days * 24 hours  * 60 min = 525600 min

In [ ]:
#9.Write Python code that asks the user to enter his/her name and then outputs a greeting including their name.

In [47]:
x = input("what is your name?")

what is your name? Arun James

In [48]:
print (f" Welcome to Python programming {x}")

 Welcome to Python programming Arun James

In [ ]:
# 10  Name your file: PoundsToDollars.py Write a program that asks the user to enter an amount in pounds (£) and the program calculates and converts an amount in dollar ($) An example runs of the program: Please enter amount in pounds: XXX £ XXX are $ XXX