# Topic list

In [ ]:
#1. Create a list of 5 random numbers and print the list.

In [28]:
import random
five_random_number = [random.randint(1, 100) for i in range(5)]
print(five_random_number)

[35, 79, 62, 23, 43]

In [ ]:
#Q2. Insert 3 new values into the list and print the updated list.

In [ ]:
five_random_number.extend([random.randint(1, 100) for j in range(3)])
print(five_random_number)

In [ ]:
#Q3. Use a for loop to print each element in the list.

In [39]:
print("element in list")
for num in five_random_number:
    print(num)

element in list
35
79
62
23
43
68
71
97
9
56
37
62
92
47
76
59
77

# Topic: Dictionary

In [ ]:
#Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively

In [ ]:
person = {"name": "John", "age" :25, "address": "New York"}

In [ ]:
#Q2. Add a new key-value pair to the dictionary with key 'phone' and value '1234567890'.

In [45]:
person = {"name": "John", "age" :25, "address": "New York"}
person["phone"] = 1234567890
print(person)

{'name': 'John', 'age': 25, 'address': 'New York', 'phone': 1234567890}

# Topic: Set

In [ ]:
#Q1.Create a set with values 1, 2, 3, 4, and 5.

In [46]:
set_numbers = {1,2,3,4,5}
print(type(set_numbers))

<class 'set'>

In [ ]:
#Q2. Add the value 6 to the set.

In [49]:
set_numbers = {1,2,3,4,5}
set_numbers.add(6)
print(set_numbers)

{1, 2, 3, 4, 5, 6}

In [ ]:
# Q3. Remove the value 3 from the set.

In [51]:
set_numbers = {1,2,3,4,5}
set_numbers.add(6)
set_numbers.remove(3)
print(set_numbers)

{1, 2, 4, 5, 6}

# Topic: Tuple

In [52]:
# Q1. Create a tuple with values (1, 2, 3, 4).

In [55]:
tuple_numbers = (1,2,3,4)
print(type(tuple_numbers))
print(len(tuple_numbers))

<class 'tuple'>
4

In [ ]:
#Q2. Print the length of the tuple.

In [56]:
tuple_numbers = (1,2,3,4)

print(len(tuple_numbers))

4